<app-header></app-header>
<html>
    <head></head>
    <body>
        <div class="container">

        
            <div><br><br>
                <div class="container">
                    <div class="row">
                      <div class="col-sm">
                          <h1 style="color:brown;">ABOUT US</h1>
                          <i>
                        <p>Smart Society is a Complete apartment management solution </p><br>
                        <p>Get society updates
                            Stay up-to-date through forums, polls and the digital notice board.</p><br>
                        <p>Get essentials faster
                            Our preferred partnerships give residents access to groceries and essentials faster. </p><br>
                        <p>Pay society bills
                            It’s the easiest way to pay your society bills and maintain all payment records.</p><br>
                        <p>Discuss on app
                            Make decisions easy by creating opinion polls and debating community matters on the app.</p><br>
                        <p>Give residents access
                            To a host of essentials either free or at huge discounts via our preferred partnerships.</p>
                        </i>
                      </div>
                      <div class="col-sm">
                        <img src="assets/Images/aprt7.jpg" class="img-fluid">

                      </div>

                      
                    </div>
                  </div>

            </div>
        </div>

    </body>
</html>