<html>
<head>
    </head>
<body>
<br><br><br>
<!-- Default form register -->
<div class="container">
    <div class="frame">
        
<form class="text-center border border-light p-5"  >

    <p class="h4 mb-4 " style="color:floralwhite"><b>Pay your Monthly Maintainence Here</b></p>

           
        
   
              <!-- Sign up button -->
              <button class="btn my-4 btn-block" class="form-control" name="buton" [(ngModel)]="buton"  type="submit" (click)="pay(100)" style="background: darkgreen; color: white;"><b>CLICK HERE</b></button>


              <div *ngIf=buton>
                <button class="btn my-4 btn-block" type="submit" style="background: darkgreen; color: white;" routerLink = '/residenthome/inm'><b>Click to get receipt</b></button>

              </div>
  
              
            

    <!-- Terms of service -->
   
</form>



</div>

</div>
<!-- Default form register -->
</body>
</html>